@import '../../../../../styles/variables';

:host {
  width: 250px;
  display: block;

  &.collapsed {
    width: 60px;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  transition: width 0.3s;
  background-color: $neutral-800; // Dark background for sidebar
  color: $textColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $backgroundColorDark;

  &.collapsed {
    width: 60px;

    .sidebar-items {
      .sidebar-item {
        justify-content: center;
        padding: 0.5rem 0;

        i {
          margin-right: 0;
          font-size: 1.5rem; // Increase icon size
        }
      }
    }
  }

  .sidebar-top {
    display: flex;
    flex-direction: column;
  }

  .sidebar-items {
    // Remove any margin/padding that might push it to the center
    padding: 0;

    .sidebar-item {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      color: $neutral-200; // Light text color
      text-decoration: none;
      transition: background-color $transitionDuration, color $transitionDuration;

      i {
        margin-right: 1rem;
        font-size: 1.2rem; // Base icon size
        transition: font-size 0.3s, margin 0.3s;
      }

      &:hover {
        background-color: rgba($primaryColor, 0.1); // Semi-transparent primary color
        color: $primaryColor;
      }

      &.active {
        background-color: $primaryColor;
        color: $primaryTextColor;
      }
    }
  }

  .toggle-button {
    background: none;
    border: none;
    color: $neutral-200;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    transition: background-color $transitionDuration, color $transitionDuration;

    i {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: rgba($primaryColor, 0.1);
      color: $primaryColor;
    }
  }
}
