<div class="projects">
  <h2 class="text-4xl font-bold mb-4">Projects</h2>
  <p class="mb-6">Here are some of the projects I've worked on:</p>

  <p-dataView #dv [value]="projects" [paginator]="true" [rows]="6" layout="grid" styleClass="custom-transparent">

    <ng-template let-project pTemplate="gridItem">
      <div class="col-12 sm:col-6 lg:col-4 p-2">
        <app-project-card [project]="project"></app-project-card>
      </div>
    </ng-template>

    <ng-template let-project pTemplate="listItem">
      <div class="col-12 p-2">
        <app-project-card [project]="project"></app-project-card>
      </div>
    </ng-template>
  </p-dataView>
</div>
