<app-animated-background></app-animated-background>
<div class="home flex flex-col items-center justify-center h-full text-white p-4 overflow-hidden">
  <img src="assets/logo.png" alt="Hubert's Logo" class="w-32 h-32 mb-4">
  <h1 class="text-4xl font-bold mb-2">Welcome to My Portfolio</h1>
  <p class="text-lg mb-2">Hi, I'm Hubert, a full web stack and mobile developer.</p>
  <p class="text-lg mb-4">Explore my projects and the services I offer.</p>
  <a href="#projects" class="text-white font-bold py-2 px-4 rounded mb-4">View My Projects</a>
  <div class="fixed bottom-0 right-0 p-4 flex space-x-4">
    <a href="https://github.com/hubert" target="_blank" class="text-gray-400 hover:text-white">
      <i class="pi pi-github" style="font-size: 2em;"></i>
    </a>
    <a href="https://linkedin.com/in/hubert" target="_blank" class="text-gray-400 hover:text-white">
      <i class="pi pi-linkedin" style="font-size: 2em;"></i>
    </a>
    <a href="mailto:hubert@example.com" class="text-gray-400 hover:text-white">
      <i class="pi pi-envelope" style="font-size: 2em;"></i>
    </a>
  </div>
</div>
