<div class="home flex flex-col items-center justify-center h-full text-white p-4 overflow-hidden">
  <object type="image/svg+xml" data="assets/img/logo1_white.svg" class="w-64 h-64 mb-4">
    Your browser does not support SVGs
  </object>
  <h1 class="text-4xl font-bold mb-8">Welcome to My Portfolio</h1>
  <app-scramble-text-effect class="mb-16"
    [textItems]="subtitltTextItems">
  </app-scramble-text-effect>

  <a routerLink="/projects" class="text-white font-bold py-2 px-4 rounded mb-4">View My Projects</a>
  <div class="fixed bottom-0 right-0 p-4 flex space-x-4">
    <a href="https://github.com/hubert" target="_blank" class="text-gray-400 hover:text-white">
      <i class="pi pi-github" style="font-size: 2em;"></i>
    </a>
    <a href="https://linkedin.com/in/hubert" target="_blank" class="text-gray-400 hover:text-white">
      <i class="pi pi-linkedin" style="font-size: 2em;"></i>
    </a>
    <a href="mailto:hubert@example.com" class="text-gray-400 hover:text-white">
      <i class="pi pi-envelope" style="font-size: 2em;"></i>
    </a>
  </div>
</div>
